<a href="https://colab.research.google.com/github/wonchae-stat/test/blob/master/Google_Drive_usage_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 나의 Google Drive에 있는 File 을 Colab 에서 사용하는 방법
1. Colab 에서 Google Drive 를 Gdrive 로 Mount 한다. ( 여기서 "Gdrive" 은 원하는 어떤 이름도 가능함)

In [1]:
from google.colab import drive
drive.mount('Gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at Gdrive

2. File 을 읽어본다 ( 읽기전 나의 Google Drive 해당 Folder 에 해당  File 이 있는지  Google Drive 에서 확인한다.)

In [0]:
import pandas as pd
df = pd.read_csv('Gdrive/My Drive/eda-datavis/w2/housepricedata.csv')

3. 읽은 File 내용을 출력한다.

In [4]:
df

      LotArea  OverallQual  ...  GarageArea  AboveMedianPrice
0        8450            7  ...         548                 1
1        9600            6  ...         460                 1
2       11250            7  ...         608                 1
3        9550            7  ...         642                 0
4       14260            8  ...         836                 1
...       ...          ...  ...         ...               ...
1455     7917            6  ...         460                 1
1456    13175            6  ...         500                 1
1457     9042            7  ...         252                 1
1458     9717            5  ...         240                 0
1459     9937            5  ...         276                 0

[1460 rows x 11 columns]