<a href="https://colab.research.google.com/github/wonchae-stat/test/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('Gdrive')

ERROR! Session/line number was not unique in database. History logging moved to new session 59
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at Gdrive

In [0]:
import pandas as pd
df=pd.read_csv('Gdrive/My Drive/kbo.csv')

In [19]:
df

     연도        넥센        두산        롯데  ...        KT        LG        NC        SK
0  2013  0.930190  0.894381  0.643282  ...       NaN  0.642623  0.422232  0.014408
1  2014  0.632123  0.151969  0.246794  ...       NaN  0.894836  0.216721  0.671124
2  2015  0.440086  0.329936  0.336789  ...  0.640357  0.214097  0.963501  0.658230
3  2016  0.130430  0.577569  0.486635  ...  0.946759  0.597811  0.034982  0.145281
4  2017  0.462329  0.275846  0.377499  ...  0.562492  0.839347  0.911320  0.813710
5  2018  0.456202  0.327785  0.560756  ...  0.414984  0.480019  0.414638  0.732491

[6 rows x 11 columns]